*{
    margin:0px;
    padding: 0px;
}

body{
    background-color: #E0F7FA;
}
header{
    text-align: center;
    background-color: #bbf3fb;
    height: 7vh;
    line-height: 7vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4.5vh;
    color:#19cbe2;
    font-weight: bold;
    /* border:0.2cap ridge #1C6EA4; */
}
.card{
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
  background-color: #80DEEA;
  width: 50vh;
  margin-left: 76vh;
  margin-top: 14vh;
  gap:3vh ;
  padding: 4vh;
border-radius: 3vh;
border: 0.6vh solid #33A1E0;

}
#profile-title{
    color: #3f99a5;
    font-size: 4.1vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#profile{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#profile p{
   padding-top: 1.2vh;
}
#start_btn{
    background-color: #bbf3fb;
    height:7vh;
    width: 22vh;
    border-radius: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.1vh;
    border: 0.3vh solid #33A1E0;
    transition: transform 0.25s ease, box-shadow 0.25s ease; /* smooth animation */
}


#start_btn:hover{
    background-color: #54c2d1;
    color:#f0fdff;
    transform: scale(1.08); /* increases size by 8% */
    box-shadow: 0 6px 20px rgba(61, 152, 250, 0.4); /* adds glow effect */
}