/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.auth-bg {
  background: linear-gradient(135deg, #e9ffee, #00be95);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* push up */
  min-height: 100vh;
  padding: 10px 20px; /* smaller top space */
}

.auth-card {
  margin-top: 6px;
}

/* Layout */
.auth-wrapper {
  width: 100%;
  max-width: 500px;
  padding: 60px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Card Box */
.auth-card {
  background: #f4fff0;
  padding: 45px;
  border-radius: 28px;
  box-shadow: 0 18px 38px rgba(0, 0, 0, 0.14);
  width: 100%;
}

.side-graphic {
  display: none;
}

/* Title */
.title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #212121;
}

.title span {
  color: #04bd9e;
  font-weight: 700;
}

/* Inputs */
input,
select {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border: 1px solid #9ce6cf;
  background: #f7f9ea;
  border-radius: 12px;
  outline: none;
  font-size: 15px;
}

/* Button */
.primary-btn {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  background: #21c4a1;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  background: #1fb08e;
}

/* Switch text */
.switch-text {
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
}

.switch-text a {
  color: #009b81;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 768px) {
  .auth-wrapper {
    padding: 30px;
  }
  .auth-card {
    padding: 32px;
    border-radius: 22px;
  }
  .title {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .auth-card {
    padding: 24px;
  }
  input,
  select {
    padding: 10px;
  }
  .primary-btn {
    padding: 11px;
    font-size: 15px;
  }
}
