*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #E0F7FA;
    text-align: center;
}
header{
    text-align: center;
    height:6vh;
    line-height: 6vh;
    background-color: #bbf3fb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4.2vh;
    color:#19cbe2;
}


#question-area{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #80DEEA;
    text-align: center;
    margin-top: 9vh;
    gap:2vh;
    padding: 3vh;
    border-radius: 3vh;
    border: 0.6vh solid #33A1E0;
    

}
.answer-box{
    height:3vh;
    border-radius: 1.3vh;
    width:auto;
    padding: 1vh;
    
}
#question-text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.submit-btn{
    height:4.5vh;
    width: 11vh;
    background-color: #9be8f2;
    font-size: 2.1vh;
    border-radius: 1.2vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.submit-btn:hover{
    background-color: #05517d;
    color: #bbf3fb;
}
#image-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
.choice-img{
    height:20vh;
    width:20vh;
    border-radius: 2vh;
    cursor: pointer;
    transition: 0.3s;
}
.choice-img:hover {
  transform: scale(1.05);
  border:0.2cap solid  black;
}
.choice-img.selected {
  border: 1.2cap solid transparent;
  border-radius: 5vh;
  transform: scale(1.05);
}
.sequence_img{
    height:20vh;
    width:20vh;
    border-radius: 2vh;
    cursor: pointer;
    transition: 0.3s;
}
#image-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
.mcq-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.mcq-option {
  background: #f8f9fa;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  transition: all 0.2s ease-in-out;
  min-width: 80px;
}

.mcq-option:hover {
  background: #e9ecef;
  border-color: #999;
  transform: scale(1.05);
}

.mcq-option.selected {
  background-color: #bbf3fb;
  color: #05517d;
  border: 2px solid #80DEEA;
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(155, 167, 181, 0.6);
  
}

.question-img{
  height:19vh;
  width:19vh;
  border-radius: 2vh;
}

.image-row{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2vh;
}